*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    padding: 25px;

}

.winscount{
    width: 500px;
    height: 125px;
    border: 3px solid white;
    margin: 0 auto;
}

.gameitems{
    width: 700px;
    height: 125px;
    border: 3px solid white;
    position: relative;
    top: 18vh;
    margin: 0 auto;
    flex-direction: row;
}




.buttons{
    width: 150px;
    height: 100px;
    border: 3px solid white;
    position: relative;
    top: 30vh;
    left: 87vw;
    
}

